/* COLORS
(black)#000000, (off-white)#f2f2f2, (red)#dc452c */
/* Extra small devices */
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}
.img-fluid {
    width: 100%;
    height: auto;
}
header {
    max-width: 100vw;
    height: 100vh;
    background-image: url("img/banner-darth-maul-main-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav {
    padding: 0.5rem 0rem 1.7rem 0rem;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 88%);
}
p#product-heading {
    margin: 0;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.7rem;
    line-height: 2rem;
}
#hero-content {
    padding: 95% 1rem 5% 1rem;
}
h1 {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}
main {
    box-shadow: -1px -38px 61px 57px rgba(0,0,0,0.86);
    -webkit-box-shadow: -1px -38px 61px 57px rgba(0,0,0,0.86);
    -moz-box-shadow: -1px -38px 61px 57px rgba(0,0,0,0.86);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }